# Read Operation

In [9]:
import pandas as pd

csv_1 = pd.read_csv("diabetes.csv")

csv_1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

#### Perticular Number of Rows Data

In [13]:
csv_2 = pd.read_csv("diabetes.csv",nrows=3)

print(csv_2)

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1

#### Perticular Column Data

In [16]:
csv_3 = pd.read_csv("diabetes.csv",usecols=["Insulin","Age"])
# You can also give index number to retirve the column in usecols=[0] for Pregnancies column

csv_3

     Insulin  Age
0          0   50
1          0   31
2          0   32
3         94   21
4        168   33
..       ...  ...
763      180   63
764        0   27
765      112   30
766        0   47
767        0   23

[768 rows x 2 columns]

#### Skip A Row

In [18]:
csv_4 = pd.read_csv("diabetes.csv",skiprows=[0])
#Just give the row index nummber in the skiprows=[]
csv_4

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

#### Index col Function

In [22]:
csv_5 = pd.read_csv("diabetes.csv",index_col="BloodPressure")
#making BloodPressure column as the Index for the rows!
csv_5

,Pregnancies,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
BloodPressure,,,,,,,,
72,6,148,35,0,33.6,0.627,50,1
66,1,85,29,0,26.6,0.351,31,0
64,8,183,0,0,23.3,0.672,32,1
66,1,89,23,94,28.1,0.167,21,0
40,0,137,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
76,10,101,48,180,32.9,0.171,63,0
70,2,122,27,0,36.8,0.340,27,0
72,5,121,23,112,26.2,0.245,30,0
60,1,126,0,0,30.1,0.349,47,1
70,1,93,31,0,30.4,0.315,23,0

#### To change the Header parameter

In [24]:
csv_6 = pd.read_csv("diabetes.csv",header=4)
#updated Header parameter as the 4th row!
csv_6

      1   89  66  23   94  28.1  0.167  21  0
0     0  137  40  35  168  43.1  2.288  33  1
1     5  116  74   0    0  25.6  0.201  30  0
2     3   78  50  32   88  31.0  0.248  26  1
3    10  115   0   0    0  35.3  0.134  29  0
4     2  197  70  45  543  30.5  0.158  53  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
759  10  101  76  48  180  32.9  0.171  63  0
760   2  122  70  27    0  36.8  0.340  27  0
761   5  121  72  23  112  26.2  0.245  30  0
762   1  126  60   0    0  30.1  0.349  47  1
763   1   93  70  31    0  30.4  0.315  23  0

[764 rows x 9 columns]

#### changing the heading names parameter!

In [29]:
csv_7 = pd.read_csv("diabetes.csv",names=["col1","col2","col3","col4","col5","col6","col7","col8","col9"])
#naming the columns with the new names!
csv_7

,col1,col2,col3,col4,col5,col6,col7,col8,col9
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.34,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

#### The Prefix Function

In [36]:
csv_8 = pd.read_csv("diabetes.csv", )

csv_8

TypeError: read_csv() got an unexpected keyword argument 'prefix'